

.entete {
    text-align: center;
}
.reservation-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 20px;
    height: 70px;
    margin: 0 100px;
    border-radius: 5px;
}
input, button{
margin: 8px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    display: grid;
    list-style: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 15px;
}